parameters:
	level: 5
	bootstrapFiles:
		- %currentWorkingDirectory%/vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
		- %currentWorkingDirectory%/vendor/wptt/webfont-loader/wptt-webfont-loader.php
	ignoreErrors:
		- '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
		- '#Parameter \#2 \$default of function get_theme_mod expects#'
includes:
	- %currentWorkingDirectory%/vendor/szepeviktor/phpstan-wordpress/extension.neon
