<!-- wp:template-part {"slug":"header","tagName":"header","className":"l-site-header"} /-->

<!-- wp:block {"ref":2046} /-->

<!-- wp:group {"tagName":"main","className":"l-site-content"} -->
<main class="wp-block-group l-site-content">
	<!-- wp:group {"layout":{"inherit":true}} -->
	<div class="wp-block-group">
		<!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null}} -->
		<div class="wp-block-query">
			<!-- wp:post-template -->
			<!-- wp:post-featured-image {"isLink":true,"align":"center"} /-->

			<!-- wp:post-title {"isLink":true,"fontSize":"huge"} /-->

			<!-- wp:post-date {"textAlign":"left","isLink":true,"fontSize":"tiny"} /-->

			<!-- wp:group {"align":"full","style":{"spacing":{"blockGap":"0px"}},"layout":{"inherit":true}} -->
			<div class="wp-block-group alignfull">
				<!-- wp:spacer -->
				<div
					style="height: 100px"
					aria-hidden="true"
					class="wp-block-spacer"
				></div>
				<!-- /wp:spacer -->

				<!-- wp:spacer -->
				<div
					style="height: 100px"
					aria-hidden="true"
					class="wp-block-spacer"
				></div>
				<!-- /wp:spacer -->
			</div>
			<!-- /wp:group -->

			<!-- wp:post-excerpt {"textColor":"recommended-color-01"} /-->

			<!-- wp:separator -->
			<hr class="wp-block-separator has-alpha-channel-opacity" />
			<!-- /wp:separator -->
			<!-- /wp:post-template -->

			<!-- wp:query-pagination {"paginationArrow":"chevron","align":"center","textColor":"recommended-color-01","layout":{"type":"flex","justifyContent":"space-between"}} -->
			<!-- wp:query-pagination-previous {"fontSize":"normal"} /-->

			<!-- wp:query-pagination-next {"fontSize":"normal"} /-->
			<!-- /wp:query-pagination -->

			<!-- wp:spacer {"height":"34px"} -->
			<div
				style="height: 34px"
				aria-hidden="true"
				class="wp-block-spacer"
			></div>
			<!-- /wp:spacer -->
		</div>
		<!-- /wp:query -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"black-footer"} /-->
